<!--footer part-start-->

<div class="row fullWidth sk-footer align-center bg-black">
    <div class="small-12 large-6 columns p-80">
        <h3>we've got a newsletter. sign up</h3>
        <form action="" method="post">
            <input type="text" placeholder="Your Email">
            <button type="submit"><i class="fa fa-chevron-right"></i></button>
        </form>
        <h1>axio</h1>
        <h4>all right reserved suro 2016</h4>
    </div>
    <div class="small-12 large-6 columns p-80">
        <h3>about</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vestibulum viverra tincidunt.
        Vestibulum pharetra porta tristique. Integer luctus, sapien sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vestibulum viverra tincidunt.
        Vestibulum pharetra porta tristique. Integer luctus, sapien sit amet.</p>
        <h3>follow us on </h3>
        <div class="social-iconbar">
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
            <a href=""><i class="fa fa-pinterest-p"></i></a>
        </div>
    </div>
</div>
<!--footer part-end-->

<div class="scroll-top-wrapper ">
    <span class="scroll-top-inner">
        <i class="fa fa-2x fa-arrow-circle-up"></i>
    </span>
</div>

