
<!--navigation menu start-->

<div class="row fullWidth">
    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
        <button class="menu-icon floa-right" type="button" data-toggle></button>
    </div>
    
    <div class="top-bar" id="example-menu">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="menu-text"><a href="#">axio</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class=" medium-horizontal vertical dropdown menu" data-responsive-menu="accordion medium-dropdown">
                <li class="has-submenu">
                    <a href="#">home</a>
                    <ul class="submenu menu vertical nested " data-submenu>
                        <li><a href="#">home page 1</a></li>
                        <li><a href="#">home page 2</a></li>
                        <li><a href="#">home page 3</a></li>
                        <li><a href="#">home page 4</a></li>
                    </ul>
                </li>
                <li><a href="#">about</a></li>
                <li><a href="#">services</a></li>
                <li class="has-submenu">
                    <a href="#">portfolio</a>
                    <ul class="submenu menu vertical nested " data-submenu>
                        <li><a href="">portfolio 1</a></li>
                        <li><a href="">portfolio 2</a></li>
                        <li><a href="">portfolio 3</a></li>
                        <li><a href="">portfolio 4</a></li>
                        <li><a href="">single portfolio</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#">blog</a>
                    <ul class="submenu menu vertical nested " data-submenu>
                        <li><a href="">blog 1</a></li>
                        <li><a href="">blog 2</a></li>
                        <li><a href="">blog 3</a></li>
                        <li><a href="">single blog</a></li>
                    </ul>
                </li>
                <li><a href="#">product</a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </div>
    </div>
</div>

<!--navigation menu end-->